<div class='settings'>
  <div id="main_news">
    <h4>Добро пожаловать</h4>
    Тут ты можешь найти места, где можно купить алкоголь ночью:<br>
    Пожалуйста, прочитай эту подсказку.<br>
    <a href="mailto:lHooFool@gmail.com">lHooFool@gmail.com</a>
  </div>
  <form class="form hidden">
    точки:
    <div class="point_type" ng-repeat="(key,value) in controller.user.settings.points">
      <span class="type_name">{{key}}</span><input type="checkbox" ng-model="controller.user.settings.points[key]">
    </div>
    <br>
    <span>Показать меня: </span><input type="checkbox" ng-model="controller.user.settings.privacy.show_me">
  </form>
  <div id="legend">
    <h4 class="app_title">Легенда</h4>

    <div class="legend">
      <div>
        <img src="/assets/Alien-23ed7e3d380b6467322c6740d54438a490e06bf541fff229f22ea9dd712e3d5e.png"> <span>Это ты</span>
      </div>
      <div>
        <img src="/assets/bottle-3c5f9a060846cc46bf30ecad99a07cc1a18859e7c7991b088012a30260b00f98.png"> <span>Тут можно купить бухло ночью</span>
      </div>
      <div>
        <img src="/assets/drinks-1e4e8c943d17f2157cc9114b30f8d9ffd3e939c113049b2ccb824e2ef4ed85f6.png"> <span>А это бар, где можно забухать</span>
      </div>
      <div>
        <img src="/assets/event-c4db32a00df3b3d4e9f4cb9eed09c3b90d8a4c9ea3abc25bf50002462cc08981.png"> <span>Тут произошло что-то прикольное, пока вы были пьяны.</span>
      </div>
      <div>
        <img src="/assets/message-16587aba29954e736c2e04ada8098275194ed06fe71b930704e7673985d167cd.png"> <span>А тут кто-то поделился мыслями</span>
      </div>

      <div><img src="/assets/24-224e513c3f3010e9d20a8e6472c3fbc57eea6d07389d0e13892e2dafa39aea65.png" alt="24 224e513c3f3010e9d20a8e6472c3fbc57eea6d07389d0e13892e2dafa39aea65" /><span>Работает круглые сутки</span></div>
      <div><img src="/assets/CreditCard-0ef517a2c1c489af8205760a0d00634293a7d06a4e0587f95be6f1db5d1651f5.png" alt="Creditcard 0ef517a2c1c489af8205760a0d00634293a7d06a4e0587f95be6f1db5d1651f5" /><span>Принимают карты</span></div>
      <div><img src="/assets/beer-6897b550a326062c123b58cc7488ed054dbb33532710c42f5509614dfad8193f.png" alt="Beer 6897b550a326062c123b58cc7488ed054dbb33532710c42f5509614dfad8193f" /><span>Есть пиво</span></div>
      <div><img src="/assets/hard-f199e9219c2d7437033ea84d61f8d5fee8923833a03e50874417b5ae31be9d00.png" alt="Hard f199e9219c2d7437033ea84d61f8d5fee8923833a03e50874417b5ae31be9d00" /><span>Есть крепкий алкоголь</span></div>
      <div><img src="/assets/elite-6562a12a0042f0013993b75673e067be3f968779a6fbedfd97d40a9048111d23.png" alt="Elite 6562a12a0042f0013993b75673e067be3f968779a6fbedfd97d40a9048111d23" /><span>Есть дорогой алкоголь</span></div>

    </div>
  </div>
  <br>


</div>