<div class="new_point">
    <div class="form-group add_point_labels">
        <label for="point_name">Название: </label>
        <input id="point_name" type='text' class="form-control" ng-model='point.name'><br>
    </div>

    <div class="form-group add_point_labels" ng-hide="point.point_type == 'message'">
        <label for="point_description">Описание: </label>
        <input id="point_description" type='text' class="form-control" ng-model='point.description'><br>
    </div>
    <button class='btn btn-default' ng-click='controller.addPoint()'>Сохранить</button>
</div>