<div class='settings'>
  <div id="main_news">
    <h4>Алкомап бэта</h4>
    Алкомап запущен. Пока что все в тестовом режиме, пишите о проблемах и предложениях:<br>
    <a href="mailto:lHooFool@gmail.com">lHooFool@gmail.com</a>
  </div>
  <form class="form hidden">
    точки:
    <div class="point_type" ng-repeat="(key,value) in controller.user.settings.points">
      <span class="type_name">{{key}}</span><input type="checkbox" ng-model="controller.user.settings.points[key]">
    </div>
    <br>
    <span>Показать меня: </span><input type="checkbox" ng-model="controller.user.settings.privacy.show_me">
  </form>
  <div id="legend">
    <h4 class="app_title">Легенда</h4>

    <div class="legend">
      <div>
        <img src="/assets/Alien-23ed7e3d380b6467322c6740d54438a490e06bf541fff229f22ea9dd712e3d5e.png"> <span>Это ты</span>
      </div>
      <div>
        <img src="/assets/bottle-3c5f9a060846cc46bf30ecad99a07cc1a18859e7c7991b088012a30260b00f98.png"> <span>Тут можно купить бухло ночью</span>
      </div>
      <div>
        <img src="/assets/drinks-1e4e8c943d17f2157cc9114b30f8d9ffd3e939c113049b2ccb824e2ef4ed85f6.png"> <span>А это бар, где можно забухать</span>
      </div>
      <div>
        <img src="/assets/event-c4db32a00df3b3d4e9f4cb9eed09c3b90d8a4c9ea3abc25bf50002462cc08981.png"> <span>Тут произошло что-то прикольное, пока вы были пьяны.</span>
      </div>
      <div>
        <img src="/assets/message-3e14147184f4ea22317ca69d10a9f75356ae4a1c76c185fa709ceb72184e2556.png"> <span>А тут кто-то поделился мыслями</span>
      </div>
    </div>
  </div>
  <br>

  <div class="btn btn-default">
    <a href="/users/invitation/new">Позвать друзей</a>
  </div>
  <div class="btn btn-default">
    <a href="/users/sign_out">Выйти</a>
  </div>
</div>