<div id="settings">
    <div class="point_types_fiters">
        <div class="form-group">
            <input type="checkbox" ng-model="controller.settings.shops"><span>Индивидуалки</span>
            <input type="checkbox" ng-model="controller.settings.bars"><span>Бордели</span>
            <input type="checkbox" ng-model="controller.settings.messages"><span>Что-то невообразимое</span>
            <input type="checkbox" ng-model="controller.settings.markers"><span>Разврат</span>
            <input type="checkbox" ng-model="controller.settings.users"><span>Энтузиасты</span>
        </div>
    </div>
    <div class="settings_buttons_container">
        <a class="btn btn-default" ng-click="controller.openWindow('Настройки','/users/edit')">Изменить профиль</a>
        <a class="btn btn-default" href="/users/sign_in">Войти</a>
        <a class="btn btn-default" href="/users/sign_out">Выйти</a>
    </div>
</div>