<div id="settings">
    <div class="point_types_fiters">
        <div class="form-group">
            <input type="checkbox" ng-model="controller.settings.shops"><span>Магазины</span>
            <input type="checkbox" ng-model="controller.settings.bars"><span>Бары</span>
            <input type="checkbox" ng-model="controller.settings.messages"><span>Сообщения</span>
            <input type="checkbox" ng-model="controller.settings.markers"><span>События</span>
            <input type="checkbox" ng-model="controller.settings.users"><span>Чуваки</span>
        </div>
    </div>
    <div class="settings_buttons_container">
        <a class="btn btn-default" href="/users/invitation/new">Позвать друзей</a>
        <a class="btn btn-default" href="/users/edit">Изменить профиль</a>
        <a class="btn btn-default" href="/users/sign_out">Выйти</a>
    </div>
</div>