<div id="settings">
    <div class="point_types_fiters">
        <div class="form-group">
            <input type="checkbox" ng-model="controller.settings.shop"><span>Магазины</span>
            <input type="checkbox" ng-model="controller.settings.bar"><span>Бары</span>
            <input type="checkbox" ng-model="controller.settings.message"><span>Сообщения</span>
            <input type="checkbox" ng-model="controller.settings.event"><span>События</span>
        </div>
    </div>
    <div class="settings_buttons_container">
        <a class="btn btn-default" href="/users/invitation/new">Позвать друзей</a>
        <a class="btn btn-default" href="/users/edit">Позвать друзей</a>
        <a class="btn btn-default" href="/users/sign_out">Выйти</a>
    </div>
</div>