<div class="wrapper" ng-view ng-controller="IndexController as controller">
  <div class="title_wrapper">
    <h1 ng-model="controller.heading" class="app_tittle">{{controller.heading}}</h1>
  </div>
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <div id="map"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 comments">
      <span>comments</span>

      <form class="form-horizontal">
        <div class="form-group">
          <div class="input-group-addon"><label for="name">Название</label></div>
          <input type="text" class="form-control" id="name" placeholder="Дядя Боря..." ng-model="comment.text">

          <div class="input-group-addon">
            <div class="send_comment btn btn-default" ng-click="controller.comment()">Отправить</div>
          </div>
        </div>
      </form>
      <div class="comments">
        <div class="comment" ng-repeat="comment in controller.currentPoint.comments track by $index">
          <span class="comment_user">{{comment.user.name}}</span>
          <span class="comment_user">{{comment.point.name}}</span>
          <div class="comment_text"> {{comment.text}}</div>
        </div>
      </div>
      <div class="info">
        <span class="comment_user"> {{controller.currentPoint.name}} </span><br>
        <span class="comment_user"> {{controller.currentPoint.id}} </span><br>
        <span class="comment_user"> {{controller.currentPoint.description}} </span>
      </div>
    </div>
  </div>
  <form name="myForm" class="my-form">
    <div class="input-group">
      <span class="input-group-addon" id="point_name">Имя:</span>
      <input type="text" class="form-control" placeholder="" aria-describedby="point_name" ng-model="point.name">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="point_long">Долгота:</span>
      <input type="text" class="form-control" placeholder="00.00" aria-describedby="point_long" ng-model="point.long">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="point_lat">Широта:</span>
      <input type="text" class="form-control" placeholder="00.00" aria-describedby="point_lat" ng-model="point.lat">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="point_desc">Описание:</span>
      <input type="text" class="form-control" placeholder="" aria-describedby="point_desc" ng-model="point.description">
    </div>
    <div class="input-group">
      <button class="btn btn-default" ng-click="controller.addPoint()">Добавить</button>
    </div>
  </form>
</div>