<div class="wrapper" ng-view ng-controller="IndexController as controller">

  <div class="map_container">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <div class="title_wrapper">
        <h1 ng-model="controller.heading" class="app_tittle">{{controller.heading}}</h1>
      </div>
      <div id="map"></div>
      <div class="btn btn-primary add_button" ng-click="controller.addPointDraggable()">Добавить</div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 comments">

      <form class="form-horizontal">
        <div class="form-group">
          <label for="name">Есть что сказать?</label>
          <textarea class="form-control" id="name" placeholder="..." ng-model="comment.text"></textarea>
          <button class="send_comment btn btn-default" ng-click="controller.comment()">Отправить</button>
        </div>
      </form>

      <div class="comments">
        <span>А люди говорят...</span>

        <div id="comments_scroller">
          <div>
            <div class="comment" ng-repeat="comment in controller.currentPoint.comments track by $index">
              <span class="comment_user">{{comment.user.name}}</span>
              <span class="comment_user">{{comment.point.name}}</span>

              <div class="comment_text"> {{comment.text}}</div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
