<div class="wrapper" ng-view ng-controller="IndexController as controller">
  <div class="loader inset_shadow" ng-hide="controller.hideLoader"><h1>Загружаюсь...</h1></div>
  <div class="map_container">
    <div id="map_area" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 nopadding inset_shadow">
      <div class="title_wrapper">
        <h1 ng-model="controller.heading" class="app_tittle">{{controller.heading}}</h1>
      </div>
      <div id="map"></div>
      <div class="btn btn-primary add_button" ng-click="controller.addPointDraggable()">Добавить</div>
    </div>
    <a href="#comments" class="col-xs-12 col-sm-12  half_btn half_btn_up" > Комментарии </a>
    <a href="#map_area" class="col-xs-12 col-sm-12  half_btn half_btn_dn" > Карта </a>
    <div id="comments" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 nopadding">
      <a href="/users/invitation/new" class="invite_link">Позвать друзей</a>

      <form class="comment_form">
        <div class="form-group comment_div">
          <label for="name">Есть что сказать?</label>
          <textarea class="form-control" id="name" placeholder="..." ng-model="comment.text"></textarea>
          <button class="send_comment btn btn-default" ng-click="controller.comment()">Отправить</button>
        </div>
      </form>

      <div class="comments">
        <div id="comments_scroller">
          <div>
            <div class="comment" ng-repeat="comment in controller.currentPoint.comments track by $index">
              <span class="comment_user">{{comment.user.name}}</span>
              <span class="comment_user">{{comment.point.name}}</span>

              <div class="comment_text"> {{comment.text}}</div>
            </div>
          </div>
        </div>
      </div>

      <a class="log_out" href="/users/sign_out">Ужас!</a>

    </div>
  </div>
</div>
