<div class="wrapper" id="chat_area" ng-view ng-controller="ChatController as controller">
  <div class="overflow_hidden undeployed">
    <div id="messages" class="messages">
      <div class="msg" ng-repeat="message in controller.messages track by $index">
        <span class="timestamp">[{{message.created_at}}]</span>
        <span class="msg_user" ng-click="controller.selectUser(message.username)" ng-class="message.username==controller.user.name?'msg_self':''">{{message.username}}:</span>
        <span class="msg_text" ng-class="message.marked?'highlight':''">{{message.message}}</span>
      </div>
    </div>
    <div class="send_message row">
      <input type="text" class="col-xs-11 col-sm-11 col-md-11 col-lg-11 chat_msg_box" autofocus ng-model="controller.chatMessage" my-enter="controller.sendMessage()"/>
      <button class="col-xs-1 col-sm-1 col-md-1 col-lg-1 btn btn-default snd_msg_btn" ng-click="controller.sendMessage()">
        <img class="snd_msg_icon" src="<%= asset_path 'send_message.png' %>">
      </button>
    </div>
  </div>
  <div class="half_btn screen_label btn btn-default" ng-click="controller.enable()">
    Алкочат!
  </div>
</div>
<div class="wrapper" ng-view ng-controller="IndexController as controller">
  <div class="map_container">
    <div id="map_area" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 nopadding">
      <div class="title_wrapper">
        <h1 ng-model="controller.heading" class="app_tittle">{{controller.heading}}</h1>

        <div class="dropdown ib">
          <button class="ddt dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="title-menu" aria-labelledby="dropdownMenu1">
            <li>
              <div id="settings" ng-include="'<%= asset_path "settings.html" %>'">
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div id="map"></div>
      <div class="dropup">
        <div class="btn btn-default add_button dropdown-toggle" id="add_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><%= image_tag 'new.png' %></div>
        <ul class="dropdown-menu add_dropdown" role="menu" aria-labelledby="add_btn">
          <li><a href="#" ng-click="controller.addPointDraggable('shop')">Магазин</a></li>
          <li><a href="#" ng-click="controller.addPointDraggable('bar')">Бар</a></li>
          <li><a href="#" ng-click="controller.addPointDraggable('marker')">Событие</a></li>
          <li><a href="#" ng-click="controller.addPointDraggable('message')">Сообщение</a></li>
        </ul>
      </div>
      <div class="btn btn-default center_btn" ng-click="controller.centerForUser()"><%= image_tag 'center.png' %></div>
    </div>
    <a target="_self" href="#comments" class="col-xs-12 col-sm-12  half_btn half_btn_up btn btn-default">
      Комментарии </a>
    <a target="_self" href="#map_area" class="col-xs-12 col-sm-12  half_btn half_btn_dn btn btn-default"> Карта </a>

    <div id="comments" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 nopadding">
      <div ng-show="controller.currentPoint">
        <form class="comment_form">
          <div class="form-group comment_div">
            <label for="name">Есть что сказать?</label>
            <textarea class="form-control" id="name" placeholder="..." ng-model="comment.text" ng-disabled="controller.currentPoint==undefined"></textarea>
          </div>
          <button class="send_comment btn btn-default" ng-click="controller.comment()" ng-disabled="controller.currentPoint==undefined">Отправить</button>

        </form>
        <div class="comments">
          <div id="comments_scroller">
            <ul>
              <li class="comment" ng-repeat="comment in controller.currentPoint.comments track by $index">
                <span class="comment_user">{{comment.user.name}}</span>
                <span class="delete_comment" ng-hide="!(comment.user.id == controller.user.id)" ng-click="controller.deleteComment(comment.id)">X</span>

                <div class="comment_text"> {{comment.text}}</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="news" ng-hide="controller.currentPoint" ng-controller="NewsController as news">
        <span class="news_header"> Последние события </span>

        <div id="news_scroller">
          <ul>
            <li class="news" ng-repeat="item in news.news track by $index">
              <span class="news_user">Пользователь <span class="news_user_name">{{item.user.name}}</span></span>

              <div class="news_text" ng-init="type = wordForPointType(item.point.point_type)"> Добавил точку
                <span class="news_point_name" ng-click="controller.setCenter(item.point.lat,item.point.lng,item.point.id)">{{item.point.name}}</span>
              </div>
              <span class="news_timestamp">{{item.created_at}}</span>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
