/**
 * Created by Геннадий on 28.08.2015.
 */
function IndexController($compile, $scope, gmap, Point, Comment) {
    var $this = this;
    this.heading = 'Алкомап (альфа)';
    this.currentPoint = undefined;
    this.openedInfos = undefined;
    this.hideLoader = false;

    var findPointInList = function (point) {
        var result = point;
        $this.points.forEach(function (item) {
            if (item.id == point.id)
                result = item;
        });
        return result;
    };

    var buildMarker = function (item) {
        var marker = new google.maps.Marker({
            position: {lng: item.lng, lat: item.lat},
            label: item.name,
            title: item.description,
            map: gmap,
            icon: '<%= asset_path 'bottle.png' %>'
        });

        var content = "<div class='info'>" +
                "<span class='comment_user'>Название: </span>" +
                "<span class='comment_user'>" + item.name + "</span><br>";
        if (item.description)
            content += "<span class='comment_user'>Описание: </span><span class='comment_user'>" + item.description + "</span><br>";
        content += "<span class='comment_user'>Добавлено: </span>" +
                "<span class='comment_user'>" + item.user.name + "</span>" +
                "</div>";

        var infoWindow = new google.maps.InfoWindow({
                            content: content
                        });
        marker.addListener('click', function (event) {
            $this.currentPoint = findPointInList(item);
            if ($this.openedInfos)
                $this.openedInfos.close();
            infoWindow.open(gmap, marker);
            $this.openedInfos = infoWindow;
            $scope.$apply();
        });
        item.marker = marker;
        return marker
    };

    this.addPointDraggable = function () {
        $scope.point = {lat: gmap.getCenter().lat(), lng: gmap.getCenter().lng()};
        var marker = new google.maps.Marker({
            position: $scope.point,
            label: $scope.point.name,
            title: $scope.point.description,
            map: gmap,
            draggable: true,
            icon: '<%= asset_path 'drinks.png' %>'
        });

        var content = "<div class='addBox'>" +
                "<span class='comment_user'>Название: </span>" +
                "<input type='text' class='comment_user' ng-model='point.name'><br>" +
                "<span class='comment_user'>Описание: </span>" +
                "<input type='text' class='comment_user' ng-model='point.description'><br>" +
                "<button class='btn btn-default' ng-click='controller.addPoint()'>Сохранить</button>" +
                "</div>";
        var infoWindow = new google.maps.InfoWindow({
            content: content
        });
        infoWindow.addListener('domready', function () {
            $scope.$apply(function () {
                $compile(document.getElementsByClassName('addBox'))($scope);
            });
        });
        infoWindow.open(gmap, marker);
        infoWindow.addListener('closeclick', function () {
            marker.setMap(null);
        });
        marker.addListener('dragend', function () {
            var pos = marker.getPosition();
            $scope.point.lng = pos.lng();
            $scope.point.lat = pos.lat();
            $scope.$apply();
        })
    };
    this.addPoint = function () {
        var point = Point.new($scope.point, function (result) {
            buildMarker(result);
        });
    };
    this.comment = function () {
        $scope.comment.point_id = $this.currentPoint.id;
        var comment = Comment.new($scope.comment, function (result) {
            $this.currentPoint.comments.push(result);
        });

    };
    var init = function () {

        Point.index(function (result) {
            $this.points = result;
            $this.points.forEach(function (item) {
                buildMarker(item);
            });
            $this.currentPoint = $this.points[0];
            var marker = new google.maps.Marker({
                position: USER_POSITION,
                label: "Ето ты",
                icon: {
                    url: '<%= asset_path 'Alien.png' %>'
                },
                map: gmap
            });
        });
        setTimeout(function () {
            updateUserPosition();
            $scope.point = {long: USER_POSITION.lng, lat: USER_POSITION.lat, name: 'Test', description: 'Description'};
            gmap.setCenter(USER_POSITION);
        }, 2000);
        var myScroll = new IScroll('#comments_scroller');
        $this.hideLoader = true;
    }();
}