@font-face {
  font-family: 'airport';
  src: font_url('airport.eot');
  src: font_url('airport.eot?#iefix') format('embedded-opentype'),
  font_url('airport.woff') format('woff'),
  font_url('airport.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}