@font-face {
    font-family: 'AMG Anahit';
    src: font_url('anahit-regular.eot');
    src: font_url('anahit-regular.eot?#iefix') format('embedded-opentype'),
         font_url('anahit-regular.woff') format('woff'),
         font_url('anahit-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}