// Place all the styles related to the index_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'airport';
@import 'anahit';

#map {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.app_tittle {
  font-family: 'Airport', monospace;
  display: inline-block;
  margin: 0px;
}

.title_wrapper {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 35px);
  -webkit-transform: translate(-50%, 35px);
  z-index: 1;
}

.comment_user {
  font-family: 'AMG Anahit';
  font-size: 14pt;
  font-weight: bold;
}

.comment_text {
  font-family: 'AMG Anahit', monospace;
  font-size: 10pt;
}

.info {
  margin-bottom: 21px;
}

#map_container {
  height: 100vh !important;
  overflow: hidden !important;
}

.add_button {

}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.inset_shadow {
  box-shadow: inset 0px 0px 160px 32px rgba(0, 0, 0, 0.59);
}

.comments {
  background-color: rgba(249, 249, 249, 0.7);
  padding-top: 10px;
  height: calc(100% - 100px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.point_close {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 5px;
}

.comment_form {
  background: rgba(249, 249, 249, 0.7);
  padding: 5px 10px;
  height: 100px;
}

.comment_div {
  margin: 0px 0px 0 0px !important;
  height: 70%;
}

.comment {
  border: 2px solid rgba(2, 2, 2, 0.51);
  padding: 3px 6px;
  margin-bottom: 5px;
  background-color: rgba(249, 249, 249, 0.7);
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
}

#comments_scroller {

  z-index: 1;
  /*	-webkit-touch-callout:none;*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0;
}

#comments_scroller > ul {
  padding-left: 3px;
}

#comments_scroller > ul > li {
  list-style-type: none;
}

.send_comment {
  width: 100%;
  max-height: 34%;
}

textarea#name {
  max-height: 55%;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  text-align: center;
  display: table;
}

.loader::after {
  content: "";
  background-size: contain;
  background: url(asset-path('loader.gif')) no-repeat;
  background-position-y: 50%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;

}

.loader > h1 {
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.invite_link {
  position: absolute;
  right: 4px;
  top: 6px;
}

.log_out {
  position: absolute;
  bottom: 5px;
  right: 10px;

}

.half_btn {
  display: inline-block;
  position: absolute !important;
  text-align: center;
  cursor: pointer;
  z-index: 3;
  width: auto !important;
  background-color: #FBFBFB;
  border-radius: 4px;

}

a:hover {
  background: rgba(0, 0, 0, 0) !important;
}

.half_btn_up {
  padding: 0px 6px !important;

}

.half_btn_dn {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  padding-top: 8px;
  left: 0px;
}
.padding_mobile
{
  height: 100vh;
  background-color:rgba(249, 249, 249, 0.7) ;
}
@media (min-width: 992px) {
  .half_btn,.dn_btn {
    display: none !important;
  }
}
@media (max-width: 992px) {
  #buttons
  {
    bottom: 3px;
    left: 3px;
  }
  #news {
    padding-top: 30px;
  }
  .padding_mobile {
    padding-top: 30px;
  }
  .comments
  {

  }
}

@keyframes blinking {
  0% {
    opacity: 0.55;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 0.55;
  }
}

.center_btn {

}

#settings_btn {

}

.ddt {
  display: inline-block;
  padding: 0px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ib {
  display: inline-block;
}

div.dropdown.ib {
  transform: translate(0px, -50%);
  -webkit-transform: translate(0px, -50%);
}

.delete_comment {
  position: absolute;
  right: 11px;
  display: inline-block;
}

.infobox_down {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  transform: translateY(10%);
  -webkit-transform: translateY(10%);
  border-top: 1px solid #CECECE;
  padding-bottom: 1px;
}

.rating_box {
  display: inline-block;
}

.rating_box a {
  font-size: 18px;

}
.rating_box a:hover {
  text-decoration: none;

}
.plus {
  margin-right: 5px;
}

.minus {
  margin-left: 5px
}

.added {
  display: inline-block;
  left: 0;
  position: absolute;
  bottom: 6px;
}

#info {
  min-width: 200px;
  animation: info;
  animation-duration: 0.5s;
}

@keyframes info {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.snd_msg_icon {
  width: 20px;
  height: 20px;
}

.snd_msg_btn {
  padding: 2px !important;
  height: 98%;
}

.screen_label {
  position: absolute;
  z-index: 4;
  transform: translate(-50%, 0px);
  -webkit-transform: translate(-50%, 0px);
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  padding-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  display: block !important;
  left: 50vw;
  opacity: 1;
}

.chat_msg_box {
  height: 98%;

}

.send_message {
  padding-left: 16px;
  padding-right: 16px;
  height: 5vh;
}

#chat_area {
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  z-index: 4;
  left: 0px;
  right: 0px;
}

.messages {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 45vh;
}

.msg_text {
  color: rgb(59, 255, 248);
}

.msg_user {
  color: #f2f2f2;
  margin-right: 5px;
  margin-left: 5px;
}

.msg_self {
  color: #DD91FB !important;
}

@keyframes roll_down {
  0% {
    height: 0vh;
  }
  100% {
    height: 50vh;
    display: block;
  }
}

.deployed {
  animation: roll_down;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier;
  animation-fill-mode: forwards;
  -webkit-animation: roll_down;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-timing-function: cubic-bezier;
  -webkit-animation-fill-mode: forwards;
}

.undeployed {
  animation: roll_down;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  -webkit-animation: roll_down;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-timing-function: cubic-bezier;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: reverse;
  display: none;
}

.overflow_hidden {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.user_add {
  font-size: 13px;
  font-weight: lighter;
}

.point_description_heading {
  font-size: 15px;
  font-weight: bold;
}

.point_description {
  font-size: 15px;
}

.add_dropdown {
  position: absolute;
  left: 0px !important;
  width: auto;
  transform: translate(0px, -5px);
  -webkit-transform: translate(0px, -5px);
}

#title-menu {
  width: 285px;
  position: absolute;
  transform: translate(0, 0);
  -webkit-transform: translate(-215px, -5px);
  height: 80vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#help {
  text-align: center;
}

.news_header {
  font-weight: bold;
  font-size: 1.5em
}

#news {
  text-align: center;
  background-color: rgba(249, 249, 249, 0.7);
  height: 100vh;
}

#news_scroller {
  position: absolute;
  z-index: 1;
  /*	-webkit-touch-callout:none;*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 97vh;
}

.news {
  list-style-type: none;
  list-style-type: none;
  border: 2px solid rgba(2, 2, 2, 0.51);
  padding: 3px 6px;
  margin-bottom: 5px;
  background-color: rgba(249, 249, 249, 0.7);
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
}

.news_user_name {
  font-weight: bold;
}

.news_point_name {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

#news_scroller > ul {
  padding-left: 3px;
}

.legend {
  text-align: left;
  padding-left: 15px;
}

.legend > div > span {
  padding-left: 10px;
}

#comments {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  height: 100vh;
  transition: 1s;
}

.add_point_labels {
  margin-bottom: 0px !important;
}

.edit_btns
{
  padding: 2px;
  height: 22px;
  width: 22px;
  cursor: pointer;
  background-size: 20px;
  background-repeat: no-repeat;
  margin: 2px;
}
.delete_point {
  background-image: asset_url('delete.png');
}
.edit_point
{
  background-image: asset_url('edit.png');
}

.point_wrap {
  width: auto;
  float: right;
}

.timestamp {
  color: #c2c2c2;
}

.highlight {
  color: #E7FF6E;
}

.point_attr_icon {
  width: 23px;
}

.point_attrs_inputs {
  margin: 0px 3px;
}

.news_timestamp {
  font-size: 9px;
}

.news_timestamp_my {
  text-align: left;
}

.news_opts {
  position: absolute;
  right: 0;
  top: 6px;
}

.my_text {
  vertical-align: text-bottom;
}

.news_text {
  margin-bottom: 5px;
}

.news_bottom {
  text-align: left;
}

.news_buttons {
  display: inline-flex;
  position: relative;
  float: right;
  transform: translateY(-5px);
}

.icon_shop {
  background-image: asset_url('bottle.png');
  height: 20px;
  width: 20px;
  position: absolute;
  opacity: 0.7;
  background-size: contain;
  right: 8px;
}

.icon_bar {
  background-image: asset_url('drinks.png');
  height: 20px;
  width: 20px;
  position: absolute;
  opacity: 0.7;
  background-size: contain;
  right: 8px;
}

.icon_marker {
  background-image: asset_url('event.png');
  height: 20px;
  width: 20px;
  position: absolute;
  opacity: 0.7;
  background-size: contain;
  right: 8px;
}

.icon_message {
  background-image: asset_url('message.png');
  height: 20px;
  width: 20px;
  position: absolute;
  opacity: 0.7;
  background-size: contain;
  right: 8px;
}
.icon_user {
  background-image: asset_url('Alien_other.png');
  height: 20px;
  width: 20px;
  position: absolute;
  opacity: 0.7;
  background-size: contain;
  right: 8px;
}

.cluster {
  background-size: contain;
}

#settings {
  padding: 5px 10px 5px 6px;
  text-align: center;
}

.settings_dropdown {
  transform: translate(-80px, -5px);
  -webkit-transform: translate(-80px, -5px);
  width: 380px;
  text-align: center;
}

.title_dropdown {
}

.online {
  position: absolute;
  right: 20px;
  color: rgba(255, 255, 255, 0.4);
}
.chat_image
{
  max-width:100px;
  max-height: 100px;
}
.comment_image
{
  max-width: 300px;
  max-height: 300px;
}
.help_btn
{

}

@keyframes rollOut {
  0%{
    opacity: 0.1;
  }
  100%
  {
    opacity: 1;

  }
}
.dropdown.roll_out.open
{
  animation: rollOut 1s both;
}
.usefull
{
  list-style-type:none;
  padding-left: 0px;
  margin-top: 5px;
}
.usefull > li > * > img
{
  width: 70%
}
.usefull > li
{
}
.phone_add > img
{
  width: 100%;

}
.phone_add
{
  width: 80%;
  transform: translateX(12.5%);
  -webkit-transform: translateX(12.5%);
}
.search_box
{
  z-index: 3;
  position: absolute;
  top: 20px;
  left: 20px;
}
#search_field
{
  transform: translate(-113px, 70px);
  height: 40px;
  font-size: 2em;
  width: 100px;
  padding-left: 5px;
  transition: 0.5s;
}

#search_field:focus
{
  width:300px;
}
#buttons
{
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.45);
  border: 1px solid #A9A9A9;
  border-radius: 2px;
  z-index:3;
  display: flex;
  display: -webkit-flex;
  padding: 5px;
}
#buttons > div
{
  margin:0px 5px;
}
.chat_link
{
  color: black;
}
.menu_entry
{
  height: 20px;
  padding-top: 20px;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  transition: height 1s;
  overflow: hidden;
}
.menu_entry:hover
{
  height: auto;
}
.menu_entry > img
{
  max-width: 250px;
}
.user_chat_link
{
  font-size: 20px;
  font-weight: bolder;
}
.invisible_label
{
  height: 50vh;
  width: 100vw !important;
  opacity: 0;
}