// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_user
{
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
}