// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

#new_user, .edit_user, .edit_profile {

  background: rgba(255, 255, 255, 0.81);
  border: 1px solid #B3B3B3;
  margin: 5px 5px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 15px;
}

.ios_add
{
  max-width: 270px;
  border-radius: 10px;
}
.is_overlay {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

#trailer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

@media (max-width: 1024px) {
  #trailer
  {
    display: none;
  }
  #new_user , #edit_user
  {
    border: 1px solid #CCCCCC;

  }
}
#trailer > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  #trailer > video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  #trailer > video {
    width: 300%;
    left: -100%;
  }
}

/* Если есть поддержка object-fit (Chrome/Chrome для Android, Safari в iOS 8 и Opera), используем его: */
@supports (object-fit: cover) {
  #trailer > video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.disclaimer
{
  text-align: justify;
}
.centered
{
  width: 100%;
  text-align: center;
}
.form_wrapper
{
  border: 1px solid #B3B3B3;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.back
{
  width: 100%;
  text-align: left !important;
  padding-left: 0 !important;
}
.title
{
  margin-top: 0;
}
#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  border-radius: 6px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: red;
  color: #fff;
  margin-bottom: 10px;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
.field_with_errors
{

}
.forms_wrapper
{
  border: 1px solid #B3B3B3;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 30vh);
  -webkit-transform: translate(-50%, 30vh);
  background: rgba(255, 255, 255, 0.81);

}
.actions
{
  margin: 5px 0px;
}