<div id="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Правила</h3>
  </div>
  <div class="panel-body">
    Какие-то правила, хуе мое
    <form class="form-inline" role="form">
      <div class="form-group">
        <label for="name">Твое имя:</label>
        <input type="name" class="form-control" id="name" name="user[name]">
        <input type="button" class="btn btn-primary" value="Я все понял">
      </div>
    </form>
  </div>
</div>