<div class="new_point">
  <div class="form-group add_point_labels">
    <label for="point_name">Название: </label>
    <input id="point_name" type='text' class="form-control" ng-model='point.name'><br>
  </div>

  <div class="form-group add_point_labels" ng-hide="point.point_type == 'message'">
    <label for="point_description">Описание: </label>
    <input id="point_description" type='text' class="form-control" ng-model='point.description'><br>
  </div>
  <div class="pint_attrs_opts form-group" ng-hide="point.point_type == 'message' || point.point_type == 'marker'">
    <input id="point_attrs_isFulltime" type='checkbox' class="point_attrs_inputs" ng-model="point.isFulltime" checked><label for="point_attrs_isFulltime">Круглосуточный</label>
    <input id="point_attrs_cardAccepted" type='checkbox' class="point_attrs_inputs" ng-model="point.cardAccepted"><label for="point_attrs_cardAccepted">Принимают карты</label>
    <input id="point_attrs_beer" type='checkbox' class="point_attrs_inputs" ng-model="point.beer" checked><label for="point_attrs_beer">Пиво</label>
    <input id="point_attrs_hard" type='checkbox' class="point_attrs_inputs" ng-model="point.hard"><label for="point_attrs_hard">Крепкое</label>
    <input id="point_attrs_elite" type='checkbox' class="point_attrs_inputs" ng-model="point.elite"><label for="point_attrs_elite">Дорогой алкоголь</label>
  </div>
  <!--input type="file" id="picture-select" name="picture" accept="image/jpeg,image/png,image/gif" fileread="point.picture"/-->
  <button class='btn btn-default' ng-click='controller.addPoint()'>Сохранить</button>
</div>