<span class='comment_user'>Название: </span>
<input type='text' class='comment_user' ng-model='point.name'><br>
<span class='comment_user'>Описание: </span>
<input type='text' class='comment_user' ng-model='point.description'><br>
<button class='btn btn-default' ng-click='controller.addPoint()'>Сохранить</button>